@font-face {
    font-family: Early Gameboy;
        src:url('../src/Early\ GameBoy.ttf')
  }


html {
    background-color: black;
}

body {
    margin: 40px;
    max-width: 500px;
    line-height: 1.6;
    font-size: 20px;
    color: #65ff6d;
    position: fixed;
    top: 30%;
    left: 45%;
    margin-top: -100px;
    margin-left: -150px;
}

h1, h2, h3 {
    line-height: 1.2;
    text-decoration: underline;
    font-family: Early Gameboy;
    text-align: center;
}

ul {
    list-style: none;
    font-family: Early Gameboy;
    
  }
  li::before { 
    content: "";
    border-color: transparent rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.20em;
    position: relative;
    color: rgb(87, 235, 238);
    
  }

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;

}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}


